
@use "./custom" as *;
@import "~bootstrap/scss/bootstrap";
// heading
.navbar {
    background-color: $primary;
    color: $white;
    font-family: 'Caveat', cursive;

    h1 {
        padding-right: 40px;
    }
}


.grocery-content {
    
    .container {
        
        .row {
            color: $secondary;
            
            .col-sm-6, .col-12 {
                align-items: center;
                justify-content: center;

                .btn-primary {
                    color: $white;
                }
            }
        }
    }
}

// cards

.card-img, .card-img-top {
    object-fit: cover;
    aspect-ratio: 1/1;
}
.card-title {
    text-transform: capitalize;
}